
<link href="https://fonts.googleapis.com/css?family=Ubuntu:400,500,700" rel="stylesheet">
<div class="container">
  <h1 class="title">
    {{ title }}
  </h1>
  <h2 [ngClass]="{'text-success':orderModel.name != ''}" *ngIf="orderModel.name != ''" class="welcoming-hi">Hi there {{ orderModel.name }}! </h2>
  <!-- Display data received from the back end <br/>
  response data = {{ responsedata | json}}
  <br/>
  <hr/>
  Data binding exercise 
  <br/>
  {{ orderForm.value | json }}
  <br/>
  {{ orderModel | json }} 
  <hr/> -->
  <div class="container box">
  <div class="custom-container">
  <form #orderForm="ngForm" name="helpForm">
    <div class="form-group">
      <label>Name: </label>
      <input required #name="ngModel" 
             [(ngModel)]="orderModel.name" type="text" class="form-control" name="name">
      <small class="text-danger" *ngIf="!name.valid && name.touched">Name is required</small>
    </div>

    <div class="form-group">
      <label>Email: </label>
      <input [(ngModel)]="orderModel.email" type="email" class="form-control" name="email" #email="ngModel" required>
      <small class="text-danger" *ngIf="!email.valid && email.touched">Email is required</small>
    </div>

    <div class="form-group">
      <label>Phone: </label>
      <input type="tel" class="form-control" required
          #phone="ngModel" pattern="^\d{10}$"  
          [(ngModel)]="orderModel.phone"  name="phone">
      <small class="text-danger" *ngIf="!phone.valid && phone.touched">Phone number is required and must be 10 digits</small>
    </div>

    <div class="form-group">
      <label>Message: </label>
      <textarea type="text" name="bodytext" class="form-control" required
      #bodytext="ngModel" [(ngModel)]="orderModel.bodytext"></textarea>
      <small class="text-danger" *ngIf="!bodytext.valid && bodytext.touched">Help message is required</small>
    </div>

    <div id="option_div" class="column small-12 large-2">
      <label class="sbw_light">What do you need help with? </label><br />
      <select [(ngModel)]="orderModel.option" class="custom-select" name="help_option">
        <option *ngFor="let option of options">{{option}} </option>
      </select>
    </div>
    
    <button (click)="senddata(orderForm.value)" class="btn btn-primary" [disabled]="!orderForm.valid" [ngStyle]="{'color': 'black'}" >Get Help</button>
  </form>
</div>
</div>
</div>