body {
  font-family: "Ubuntu", sans-serif;
}
body .containerHeader {
  width: 90%;
  margin: 1vh auto;
}
body header {
  background-color: white;
  height: 110px;
  border: none;
}
body header .logo {
  float: left;
  padding: 15px 0 0 0;
}
body header .logo a {
  text-decoration: none;
  color: black;
}
body #pageContent {
  display: flex;
}
body #pageContent .container {
  border-radius: 20px;
  margin: 1vh auto;
  padding: 1px 0 60px 0;
  background-color: #87CEFA;
  -webkit-box-shadow: 0px 6px 22px -3px rgba(74, 113, 135, 0.58);
  -moz-box-shadow: 0px 6px 22px -3px rgba(74, 113, 135, 0.58);
  box-shadow: 0px 6px 22px -3px rgba(74, 113, 135, 0.58);
  width: 45%;
}
body #pageContent .container .heroText {
  text-align: center;
}
body #pageContent .container h1 {
  color: white;
  font-size: 4vw;
  font-weight: 500;
  margin-top: 5vh;
}
body #pageContent .container h2 {
  text-align: center;
  font-weight: 500;
}
body #pageContent .container form {
  text-align: center;
  flex-direction: column;
}
body #pageContent .container form .nameinput {
  padding: 30px 0 30px 0;
}
body #pageContent .container form .nameinput #uname {
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 3px dotted gray;
  width: 500px;
  height: 70px;
  font-size: 20px;
  font-family: "Karla", sans-serif;
}
body #pageContent .container form .nameinput #user_id_error {
  color: red;
  margin-top: 10px;
}
body #pageContent .container form .pwinput {
  padding: 0px 0px 80px 0px;
}
body #pageContent .container form .pwinput #password {
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 3px dotted gray;
  width: 500px;
  height: 70px;
  font-size: 20px;
  font-family: "Karla", sans-serif;
}
body #pageContent .container form .pwinput #pw_id_error {
  color: red;
  margin-top: 10px;
}
body #pageContent .container form .submitbtn #submit:hover {
  opacity: 1;
  transform: scale(1.1) perspective(1px);
  cursor: pointer;
}
body #pageContent .container form .submitbtn #submit:focus {
  outline: 0;
}
body #pageContent .container form .submitbtn #submit {
  border-style: solid;
  border-width: 4px;
  border-color: white;
  width: 500px;
  height: 70px;
  font-size: 20px;
  background-color: #6495ED;
  color: #FFFFFF;
  font-size: 25px;
  font-family: "Karla", sans-serif;
  border-radius: 15px;
}
body #pageContent .container form .submitbtn #id_error {
  text-align: center;
  color: red;
  margin-top: 15px;
}
body #pageContent .container form .disabled {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}
body #pageContent .right button {
  display: inline;
  padding: 15px 30px 15px 30px;
  border: none;
  border-radius: 20px;
  background-color: #f2f2f2;
  color: black;
  font-size: 15px;
  -webkit-box-shadow: 0px 6px 22px -3px rgba(74, 113, 135, 0.58);
  -moz-box-shadow: 0px 6px 22px -3px rgba(74, 113, 135, 0.58);
  box-shadow: 0px 6px 22px -3px rgba(74, 113, 135, 0.58);
}
body #pageContent .right button:hover {
  opacity: 1;
  transform: scale(1.1) perspective(1px);
  cursor: pointer;
}
body #pageContent .right button:focus {
  outline: 0;
}
body #pageContent .right .createEventBtn {
  text-align: center;
  margin-top: 30px;
}
body #pageContent .right .changePasswordBtn {
  text-align: center;
  margin-top: 30px;
}

/*# sourceMappingURL=help.css.map */
